@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --primary-color: #AEE8F0;
}

* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--white-color);
}

body {
  background-color: var(--black-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
    max-width: 1840px; 
    width: 95%;
    margin: 0 auto;
}

/* all clapm functions from 1840px to 360px */

/* ============================================================================ */

/* HEADER */

.header{
    width: 100%;
    height: clamp(4rem, 2.7382rem + 5.6081vw, 9.1875rem); /* 147px > 64px */
}

.header__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 40px;
}

.nav-item-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.burger{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burger-button{
    width: 18px;
    height: 17px;
}

/* ============================================================================ */

/* MEDIA QUERIES */

@media(max-width: 768px){
    .header__nav{
        display: none;
    }
    .burger{
        display: block;
    }
}   