@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&display=swap');

:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --primary-color: #AEE8F0;
}

* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--white-color);
}

body {
  background-color: var(--black-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container{
    max-width: 1840px; 
    width: 95%;
    margin: 0 auto;
}

.button{
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    padding: 24px 32px;
    cursor: pointer;
    transition: border .3s ease;
    white-space: nowrap;
}

.button:hover{
    border: 1px solid var(--white-color);
}

.button:active{
    border: 1px solid var(--white-color);
}

/* all clapm functions from 1840px to 360px */

/* ============================================================================ */

/* HEADER */

.header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(4rem, 2.7382rem + 5.6081vw, 9.1875rem); /* 147px > 64px */
    background-color: var(--black-color);
}

.header__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 40px;
}

.nav-item-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.nav-item-link--active{
    color: var(--primary-color);
}

.burger{
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burger-button{
    width: 18px;
    height: 17px;
}

.burger-menu{
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    transform: translateX(100%);
    transition: transform .3s ease;
    display: flex;
    align-items: center;
    padding: 40px;
}

.burger-menu--active{
    transform: translateX(0%);
}

.burger-menu__nav{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.burger-menu__nav-item:not(:last-child){
    margin-right: 0px;
    margin-bottom: 20px;
}

/* ============================================================================ */

/* HERO */

.hero{
    height: clamp(40rem, 36.3514rem + 16.2162vw, 55rem); /* 880px > 640px */
    background-image: url(./images/hero.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: clamp(4rem, 2.7382rem + 5.6081vw, 9.1875rem); /* 147px > 64px */
}

.hero__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__heading, .hero__heading--special{
    font-weight: 700;
    font-size: clamp(2rem, 1.5135rem + 2.1622vw, 4rem); /* 62px > 32px */
    line-height: 100%;
}

.hero__heading--special{
    font-size: clamp(1.25rem, 0.9459rem + 1.3514vw, 2.5rem); /* 40px > 20px */
    margin-top: 6px;
}

.hero__description{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 65px;
}

.hero__heading-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

/* ============================================================================ */

/* PLAYER */

.player{
    position: relative;
    height: clamp(40rem, 36.3514rem + 16.2162vw, 55rem); /* 880px > 640px */
    background-image: url(./images/garry.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 70px;
}

.player__container{
    height: 100%;
}

.player__name{
    margin-left: auto;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: right;
    text-transform: uppercase;
}

.player__content{
    width: 50%;
    height: 100%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player__content-description{
    margin-bottom: 80px;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.7838rem + 0.4054vw, 1.25rem); /* 20px > 14px */
    line-height: 100%;
    text-align: center;
}

/* ============================================================================ */

/* VOITING */

.voting{
    height: clamp(40rem, 36.3514rem + 16.2162vw, 55rem); /* 880px > 640px */
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: clamp(0rem, -1.2162rem + 5.4054vw, 5rem); /* 80px > 0px */
}

.voting__container, .voting__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.voting__content-description{
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.7061rem + 0.473vw, 1.25rem); /* 20px > 13px */
    line-height: 100%;
}

.voting__content-description:not(:last-child){
    margin-bottom: 16px;
}

.voting__content-buttons{
    margin-top: clamp(5rem, 5.3041rem + -1.3514vw, 3.75rem); /* 60px > 80px */
}

.voting__button:not(:last-child){
    margin-right: 24px;
}

/* ============================================================================ */

/* PARTICIPANT HERO */

.participant-hero{
    height: clamp(40rem, 36.3514rem + 16.2162vw, 55rem); /* 880px > 640px */
    background-image: url(./images/magnus.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: clamp(4rem, 2.7382rem + 5.6081vw, 9.1875rem); /* 147px > 64px */
}

.participant-hero__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participant-hero__content{
    width: 50%;
    height: 100%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.participant-hero__heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 24px;
}

.participant-hero__location-wrapper{
    display: flex;
    align-items: center;
}

.location{
    width: 20px;
    height: 31px;
    margin-right: 16px;
}

.participant-hero__location{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

/* ============================================================================ */

/* PARTICIPANT ABOUT */

.participant-about{
    height: clamp(40rem, 36.3514rem + 16.2162vw, 55rem); /* 880px > 640px */
    background-image: url(./images/participant-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.participant-about__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.participant-about__description{
    max-width: 560px;
    width: 95%;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

.participant-about__button{
    margin-top: 64px;
}

.participant-about__description:not(:last-child){
    margin-bottom: 20px;
}

/* ============================================================================ */

/* TABLE */

.table{
    height: clamp(42.3125rem, 38.0101rem + 19.1216vw, 60rem); /* 960px > 677px */
    background-image: url(./images/table-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: clamp(4rem, 2.7382rem + 5.6081vw, 9.1875rem); /* 147px > 64px */
}

.table__container{
    height: 100%;
}

.table__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: clamp(5.1875rem, 3.3024rem + 8.3784vw, 12.9375rem); /* 207px > 83px */
}

.table__heading{
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: clamp(2rem, 1.8784rem + 0.5405vw, 2.5rem); /* 40px > 32px */
    line-height: 100%;
}

.table__table-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__table{
    border: 1px solid var(--primary-color);
    padding: clamp(1.5rem, 0.8919rem + 2.7027vw, 4rem); /* 64px > 24px */
}

.table__player, .table__player-lastname{
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.7061rem + 0.473vw, 1.25rem); /* 20px > 13px */
    line-height: 100%;
}

.table__line{
    display: flex;
}

.table__column:first-child{
    width: clamp(6.25rem, 2.9054rem + 14.8649vw, 20rem); /* 320px > 100px */
    justify-content: flex-start;
}

.table__column{
    width: 55px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.7669rem + 0.2027vw, 1rem); /* 16px > 13px */
    line-height: 100%;
    text-align: center;
}

.table__column:last-child{
    width: clamp(3.0625rem, 2.5456rem + 2.2973vw, 5.1875rem); /* 83px > 49px */
}

.chess-piece{
    width: 20px;
    height: 32px;
}

.chess-piece-down{
    width: 33px;
    height: 20px;
}

.table__line-empty .table__column{
    height: 29px;
}

.table__column:nth-child(5){
    background-color: var(--primary-color);
    color: var(--black-color);
}

.table__content-after{
    width: clamp(36.25rem, 34.7297rem + 6.7568vw, 42.5rem); /* 680px > 580px */
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: clamp(1.125rem, 0.5929rem + 2.3649vw, 3.3125rem); /* 53px > 18px; */
}

.table__content-after-title{
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.7061rem + 0.473vw, 1.25rem); /* 20px > 13px */
    line-height: 100%;
}

.table__content-after-wrapper{
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.watch{
    width: 27px;
    height: 27px;
    margin-right: 16px;
}

.table__content-after-description{
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.7669rem + 0.2027vw, 1rem); /* 16px > 13px */
    line-height: 100%;
}

.table__content-after-description:not(:last-child){
    margin-right: 16px;
}

.table__content-after-link{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

/* ============================================================================ */

/* FOOTER */

.footer{
    min-height: 295px;
    padding-top: 64px;
}

.footer__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__link, .footer__link--special{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.footer__item:not(:last-child){
    margin-bottom: 16px;
}

.footer__link--special{
    font-weight: 700;
    margin-bottom: 24px;
}

.footer__link--inactive{
    filter: brightness(0.4)
}

.footer__link--active{
    filter: brightness(1)
}

.footer__list-social-link{
    display: inline-block;
}

.footer__vk, .footer__youtube{
    width: 28px;
    height: 28px;
}

.footer__vk{
    margin-right: 16px;
}

/* ============================================================================ */

/* MEDIA QUERIES */

@media(max-width: 768px){
    .header__nav{
        display: none;
    }
    .burger{
        display: block;
    }
    .hero{
        background-image: url(./images/hero-mobile.png);
    }
    .player{
        background-image: url(./images/garry-mobile.png);
    }
    .player__content{
        width: 100%;
        position: absolute;
        top: 12px;
        left: 0px;
        height: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .voting{
        background-image: url(./images/background-mobile.png);
    }
    .voting__button:not(:last-child){
        margin-right: 0px;
        margin-bottom: 24px;
    }
    .voting__content-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .participant-hero{
        background-image: url(./images/magnus-mobile.png);
    }
    .participant-hero__container{
        justify-content: flex-start;
    }
    .participant-hero__content{
        width: 100%;
        height: fit-content;
        padding-top: 63px;
    }
    .participant-about{
        background-image: url(./images/participant-background-mobile.png);
    }
    .table{
        background-image: url(./images/table-background-mobile.png);
    }
    .table__player-lastname{
        display: none;
    }
    .table__content{
        flex-direction: column;
    }
    .table__heading{
        margin-bottom: 32px;
    }
    .table__column-empty{
        display: none;
    }
    .table__column {
        width: 35px;
    }
    .table__heading{
        width: 100%;
    }
    .table__content-after{
        width: 100%;
        flex-direction: column;
    }
    .table__content-after-title{
        margin-bottom: 16px;
    }
    .table__content-after-wrapper{
        margin-left: 0px;
    }

    .footer{
        padding-bottom: 64px;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
    }
    .footer__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__list:not(:last-child){
        margin-bottom: 110px;
    }
    .footer__list-social{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}   